*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    width: 100%;
    height: 20px;
}

.main-nav{
    margin-top: 0;
    list-style: none;
    padding-left: 0;
    background-color: #CD5C5C;
}

.main-nav__item{
    display: inline-block;
    padding-right: 15px;
}

.main-nav__item a{
    color:white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.main-nav__item a:hover{
    color: #000080;
}